<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpkh.cnpc"
    android:installLocation="auto"
    android:sharedUserId="@string/app_user_id"
    android:sharedUserLabel="@string/app_user_label"
    android:versionCode="8151"
    android:versionName="2.0">

    <uses-sdk android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name="com.robert.maps.applib.MapApplication"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:icon="@drawable/icon_cnpc"
        android:label="@string/app_name_drill"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <activity android:name=".activity.SearchSetActivity"></activity>
        <activity android:name=".activity.PersionDetailsActivity" />
        <activity android:name=".activity.PersonCreateActivity" />
        <activity
            android:name=".activity.PersonSetActivity"
            android:label="@string/title_activity_person_set"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ServerSettingActivity" />
        <activity android:name="com.jpkh.utils.zbar.CaptureActivity" />
        <activity android:name=".activity.ReceiveOnlineSetActivity" />
        <activity android:name="com.jpkh.utils.zxing.camera.MipcaActivityCapture" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="com.robert.maps.action.SHOW_POINTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="geo" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ReceivePointsActivity" />
        <activity android:name=".activity.ReceiveAllSetActivity" />
        <activity android:name=".activity.RouteNaviActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.ImportTaskActivity" />
        <activity android:name=".activity.AlarmHistoryActivity" />
        <activity
            android:name="com.robert.maps.applib.MainPreferences"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jpkh.cnpc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.robert.maps.applib.kml.PoiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.PoiListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.TrackListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.PoiCategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.PoiCategoryListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.PoiIconSetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.ImportPoiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.ImportTrackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.TrackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.TrackStatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.RouteListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.kml.OutmapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name="com.robert.maps.applib.trackwriter.TrackWriterService"
            android:icon="@drawable/track_writer_service"
            android:process=":trackwriter">
            <intent-filter>
                <action android:name="com.robert.maps.trackwriter" />
                <action android:name="com.robert.maps.applib.trackwriter.IRemoteService" />
            </intent-filter>
        </service>

        <activity
            android:name="org.openintents.filemanager.FileManagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.downloader.AreaSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name="com.robert.maps.applib.downloader.MapDownloaderService"
            android:icon="@drawable/track_writer_service"
            android:process=":mapdownloader">
            <intent-filter>
                <action android:name="com.robert.maps.mapdownloader" />
                <action android:name="com.robert.maps.applib.downloader.IRemoteService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.robert.maps.applib.downloader.DownloaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.preference.MixedMapsPreference"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.preference.PredefMapsPrefActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.preference.UserMapsPrefActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.preference.CustomMapsPrefActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.preference.PairMapsPrefActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.preference.OffsetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.downloader.FileDownloadListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.robert.maps.applib.geoui.GeoDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name=".service.ConnService"
            android:exported="true" />

        <receiver
            android:name=".activity.utils.OpenServiceBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="OPEN_SERVICE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.OpenMapBroadcast"
            android:exported="false">
            <intent-filter>
                <action android:name="SHOW_MAP_ID" />
            </intent-filter>
        </receiver>
        <!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.robert.maps"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0776c04ebe0bbaa4c9899b046fb30ab6" /> <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
    </application>
<!--sha1 19:FF:AB:5E:7B:CD:B5:84:7E:0B:60:CC:FE:63:1C:5A:A8:4D:73:C1-->
</manifest>